<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% for (int i = 0; i < podcast.length; i ++) { %>
      <h2><%=podcast[i]%></h2>
      <audio class="wp-audio-shortcode" id="audio-14359-1_html5" preload="none" style="width: 100%; height: 100%;" src="<%=podcast[i].link%>">
        <source type="audio/mpeg" src="<%=podcast[i].link%>">
        <a href="<%=podcast[i].link%>">
          <%=podcast[i].link%>
        </a>
      </audio>
      <% } %>
  </body>
</html>
